* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* ======== Cabeçalho ======== */

header {
    width: 100%;
    height: 60px;
    background-color: #1E1B18;
}

nav {
    width: 90%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    height: 30px;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    color: #FFFAFF;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 20px;
    display: flex;
    align-items: center;
    transition-duration: 0.5s;
}

.navbar a.active {
    color: #D8315B;
    text-decoration: underline;
}

.navbar img {
    width: 24px;
    margin-right: 8px;
}

.navbar a:hover {
    text-shadow: 0 0 4px #FFFAFF;
}

.navbar a.active:hover {
    text-shadow: 0 0 4px #D8315B;
}

/* ======== Seção Planos ======== */

.planos {
    width: 90%;
    margin: 40px auto 40px;
    display: flex;
    justify-content: space-between;
}

.planos .text {
    width: 300px;
} 

.text h1 {
    color: #D8315B;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 16px;
}

.text p {
    color: #1E1B18;
    font-size: 18px;
    line-height: 27px;
    white-space: pre-line;
}

.text p a {
    color: #D8315B;
}

.planos .img-money {
    width: 420px;
    margin-top: 120px;
}

/* ======== Tabela ======== */

table {
    width: 800px;
    height: auto;
    color: #343A40;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #E9ECEF;
    box-shadow: 0px 4px 4px rgba(173, 181, 189, 0.25);
    overflow: hidden;
}

table, th, td {
    border: 1px solid #E9ECEF;
    border-collapse: collapse;
}

th {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    padding: 24px 0 16px;
}

.desciption {
    width: 320px;
    font-size: 18px;
    line-height: 27px;
    text-align: left;
    padding: 8px 16px 8px 30px;
}

.total {
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-align: left;
    padding: 8px 16px 16px 30px;
}

.valor {
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    padding: 8px 0 16px 0;
}

td img {
    width: 24px;
    padding: 8px 0;
}

/* ======== Footer ======== */

footer {
    width: 100%;
    height: 60px;
    color: #FFFAFF;
    background-color: #1E1B18;
    font-size: 14px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    margin-top: 40px;
}